body{
    background-color: #44475a;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.box-section {
    margin-top: 1cm;
    width: 100%;
    height: 550px;
    display: block;
    background-color: #44475a;
}
form {
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-color:black;
    background-color: #fffffff5;
    width:60%;

    border-radius: 0.2cm;
    margin-top: 1cm;
    
}
label,input {
    color: #fff6f6;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    border-radius: 0.3em;
    margin-top: 0.1cm;
    padding: 0.5em;
}
label:hover {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(1.2);
    max-width: 100%;
    -moz-transition: all 0.9s;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    background: none;
}
input{
    width: 30%;
    color: #1f1f1f;
}
#button-entrar{
    font-weight: 700;
    color: #fff6f6;
    background-color: #a4aff3;
    width: 15%;
    border: none;
    margin-top: 0.5cm;
}
#button-entrar:hover{
    background-color: #178beb;
}
@media(max-width: 700px){
    #button-entrar {
        width: 30%;
        border: none;
        margin-top: 0.5cm;
        margin-bottom: 0.5cm;
    }
    input{
        width: 80%;
        color: #1f1f1f;
    }
}
.box-section-2 {
    width: 100%;
    align-items: center;
}

header img{
      position: relative;
      bottom:-0px;
      width:3em;
      height:3em;
      margin-top: 2px;
      margin-bottom: 2px;
      margin-right: 5px;
      border-radius: 0.4cm;
      
      
}
#img-section {
    display: inline-block;
    margin: 0 auto;
}
#img-section:hover {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(1.2);
    max-width: 100%;
    -moz-transition: all 0.9s;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
    background: none;
}

img:hover {
      -moz-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(1.2);
      max-width: 100%;
      -moz-transition: all 0.9s;
      -webkit-transition: all 0.9s;
      transition: all 0.9s;
      background: #1f1f1f;
}
  
  
  header ul li a:hover {
      -moz-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(1.2);
      max-width: 100%;
      -moz-transition: all 0.9s;
      -webkit-transition: all 0.9s;
      transition: all 0.9s;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-top: 10px;
  }
  
  a:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  #header {
    box-sizing: border-box;
    height: 60px;
    padding: 1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    background: #fff6f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0.08cm;
    width: 99%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    align-items: center;
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 1.0rem;
  }
  .btn{
      background-color: #a4aff3;
      border: 0px;
  }
  .btn:hover {
        background-color: rgb(134, 134, 134);
  }
  #menu a {
    display: block;
    padding: 0.5rem;
  }
  
  #btn-mobile {
    display: none;
  }
  
  @media (max-width: 600px) {
    #menu {
  
      position: fixed;
      display: inline-block;
      vertical-align: middle;
      width: 30vh;
      top: 80px;
      right: 10%;
      background: #ececec;
      transition: 0.8s;
      z-index: 1000;
      height: 50px;
      visibility: hidden;
      overflow-y: hidden;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
      color:rgb(27, 27, 226);
    }
    #nav.active #menu {
      height: calc(100vh - 50vh);
      background-color: #1f1f1f;
      border-radius: 15px;
      visibility: visible;
      overflow-y: auto;
  
    }
    #menu a {
      padding: 0rem -10rem;
      margin: 0.5rem;
      border-radius: 10px;
      margin-right: 45px;
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.1rem;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.2s;
      position: relative;
      background-color: rgb(255, 254, 254);
  
    }
    #nav.active #hamburger {
      border-top-color: transparent;
  
    }
    #nav.active #hamburger::before {
      transform: rotate(130deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -1px;
    }
  }
footer{
  height: 70px;
    color: #0c0c0c;
    background-color: #f7f7f7;
}
.text-white_1 {
    color: rgba(0, 0, 0, 0.507);
}
@media(max-width: 420px){
  footer {
    height: 100px;
    position: fixed;
    bottom: 1px;
  }
}